@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    font-size: 16px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: white;
}

body {
    background: linear-gradient(to right, purple, blue );
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    
}

.container {
    height: 95vh;
    width: 95vw;
    display: grid;
    grid-template-columns: 2fr 6fr;
    grid-template-rows: 1fr 6fr;
    
}

.sidebar {
    font-size: 1rem;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    grid-column: 1 / 2;
    grid-row: 1 / 9;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    justify-items: center;
    grid-template-areas: 
    "logo logo"
    "tools-icon tools-text"
    "settings-icon settings-text";
    
}

.logo {
    grid-area: logo;
    padding: 8px;
    grid-column: 1 / -1;
}

.tools-icon {
    grid-column: 1 / 2;
    grid-row: 2 / 3; 
    display: block;
    margin: 10px;
    justify-self: end;
}

.tools-text {
    grid-area: tools-text;
    justify-self: start;
    grid-column: 2 / 3;
    
}

.settings-text {
    grid-column: 2 / 3;
    padding: 8px;
    
}

.header {
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-right: 1px solid white;
    padding: 8px;
    grid-column: 2 / -1;
}

.searchbar {
    width: 20rem;
}

.content {
    border: 1px solid white;
}
